.container {
  max-width: 30rem;
  margin: auto;
  text-align: center;
  width: 100%;
}

.loginForm h4 {
  margin-bottom: 3rem;
}

.loginButton {
  max-width: 10rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
